* text=auto eol=lf

*.py   text eol=lf
*.sh   text eol=lf
*.md   text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf

*.h5   binary
*.nxs  binary
*.tif  binary
*.png  binary
*.jpg  binary
*.img  binary
